asgiref==3.11.1
black==26.3.1
click==8.3.2
colorama==0.4.6
Django==6.0.4
greenlet==3.4.0
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.6
playwright==1.58.0
psycopg2-binary==2.9.11
pyee==13.0.1
pytokens==0.4.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.1
